1Password
alacritty
brave-flags.conf
BraveSoftware
btop
chromium
chromium-flags.conf
Code
dconf
environment.d
eza
fastfetch
fcitx
fcitx5
fontconfig
ghostty
git
google-chrome
google-chrome-beta
google-chrome-unstable
gtk-3.0
ibus
kitty
lazydocker
lazygit
mako
microsoft-edge-dev
mimeapps.list
nautilus
nordvpn
omarchy.ttf
pulse
qalculate
spotify
starship.toml
swayosd
systemd
Typora
user-dirs.dirs
user-dirs.locale
uwsm
vivaldi
vivaldi-snapshot
walker
xournalpp
yay
